@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* end box-sizing reset */

body {

	padding: 0;
	margin: 0;
	background-color: #0d87c9;
	font-family: tahoma, chicago, sans-serif;	
	background-image: url(../images/bg-body.jpg);
	background-size: 85%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;

}

img {

	max-width: 100%;
	height: auto;

}

.wrapper {

	width: 65%;
	padding: 30px;
	background-color: #fff;
	border: 1px solid #000;	
	margin: 0 auto 20px;

}

nav {

	background-color: white;
	display: block;
	margin-top: 20px;
	
}

nav ul {

	background-color: #0d87c9;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;

}

nav li {

	flex: 1;

}

nav li a {

	display: block;
	text-align: center;
	line-height: 42px;
	color: white;
	border-right: 1px solid white;
	text-decoration: none;
	
}

nav a:hover {

	background-color: rgba(255, 251, 251, 0.445);

}
nav a:focus {

	background-color: rgba(144, 199, 224, 0.568);
	
}
nav a:active {
	
	background-color: rgba(148, 44, 196, 0.514);

}



/* Layout Tips.

- The banner section has two columns. Use
  the following values:

  left column - width 77%
  right column - width: 20%

- The main-content section has three columns.
  Use the folllowing values:

  left column - width 20%
  centre column - width 54% 
  right column - width 20%

*/

.banner {

	width: 77% 20%;
	display: flex;
	flex: 1; 
	margin-top: 20px;
	padding: 0; 

}

.banner-col-01 {

	width: 77%;

}

.banner-col-02 {

	width: 20%;
	padding: 0 20px;

}

.banner-col-02 h2 {

	margin-top: 0;

}

.banner-col-02 ul {

	padding-left: 20px;
	line-height: 30px;

}

.banner a:hover {

	background-color: rgba(255, 251, 251, 0.445);

}
.banner a:focus {

	background-color: rgba(144, 199, 224, 0.568);
	
}
.banner a:active {
	
	background-color: rgba(148, 44, 196, 0.514);

}


.main-content {

	display: flex;

}

article {

	flex: 1; 

}

article ul {

	list-style: none;
	margin: 0;
	padding: 0;
	
}


.col a:hover {

	background-color: rgba(255, 251, 251, 0.445);

}
.col a:focus {

	background-color: rgba(144, 199, 224, 0.568);
	
}
.col a:active {
	
	background-color: rgba(148, 44, 196, 0.514);

}

.col-01 {

	width: 20%;
	padding-right: 20px;

}


.col-01 li a {

	text-decoration: none;
	color: #0d87c9; 

}

.list{

	border-bottom: 1px dotted #0d87c9;
	padding-bottom: 30px;

}

.col-02 {

	width: 54%;
	padding: 0 20px;

}

.col-02 article {

	background-color: rgb(236, 234, 234);
	padding: 20px;
	margin-bottom: 20px;
	border: 1px dotted grey;

}

.col-02 article h1 {

	padding: 0;
	margin: 0;

}

.col-02 time {

	font-weight: bold;

}

.col-03 {

	width: 20%;
	text-align: center;

}

footer {

	text-align: center;
	padding: 25px;
	border-top: 1px dotted #0d87c9;
	margin-top: 30px; 

}